{% extends "defindex.html" %}
{% block tables %}


  <div style="text-align: center;">
    <h1><big><span style="color: rgb(51, 51, 255);">pNbody</span> </big><br></h1>
    <h2><small>A python parallelized N-body reduction toolbox</small></h2>
  </div>
  
  <table class="contentstable" align="center"><tr>
    <td width="50%">
      <p class="biglink"><a class="biglink" href="{{ pathto("rst/Overview") }}">Overview</a><br/>
         <span class="linkdescr">quick overview of pNbody</span></p>
      <p class="biglink"><a class="biglink" href="{{ pathto("toc") }}">General documentation</a><br/>
         <span class="linkdescr">the complete documentation of pNbody</span></p>
      <p class="biglink"><a class="biglink" href="{{ pathto("rst/Download") }}">Download</a><br/>
         <span class="linkdescr">download pNbody</span></p>
      <p class="biglink"><a class="biglink" href="{{ pathto("rst/Gallery") }}">Gallery</a><br/>
         <span class="linkdescr">the pNbody gallery</span></p>
      <p class="biglink"><a class="biglink" href="{{ pathto("rst/Movies") }}">Movies</a><br/>
         <span class="linkdescr">examples of pNbody movies</span></p>
      <p class="biglink"><a class="biglink" href="{{ pathto("rst/3DMovies") }}">3DMovies</a><br/>
         <span class="linkdescr">examples of high quality pNbody stereo movies</span></p>	 
      <p class="biglink"><a class="biglink" href="{{ pathto("rst/Mailinglist") }}">Mailing list</a><br/>
         <span class="linkdescr">the pNbody mailing list</span></p>	 
  </table>



{% endblock %}
